@mixin clearfix {
  &::after {
    content: '';
    clear: both;
    display: table;
  }
}

@mixin gradient-background-image($light-color, $dark-color, $alpha, $img) {
  background-image: linear-gradient(
      to right bottom,
      rgba($light-color, $alpha),
      rgba($dark-color, $alpha)
    ),
    url($img);
  background-size: cover;
  background-position: top;
}

@mixin gradient-font-to-dark {
  display: inline-block;
  background-image: $primary-to-right-light;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
