.header {
  height: 95vh;
  @include gradient-background-image(
    $color-primary-light,
    $color-primary-dark,
    0.8,
    '../img/hero.jpg'
  );
  position: relative;

  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  /* clip-path: polygon(0 0, 100% 50%, 0 100%); */

  /* LOGO */

  &__logo {
    height: 3.5rem;

    &-box {
      position: absolute;
      top: 4rem;
      left: 4rem;
    }
  }

  /* HEADER_MAIN_TEXT */

  &__text-box {
    @include center-horizontal-vertical(40%);

    text-align: center;
  }
}
