.u-center-text {
  text-align: center;
}

.u-margin-bottom-s {
  margin-bottom: 1.5rem;
}

.u-margin-bottom-m {
  margin-bottom: 4rem;
}

.u-margin-bottom-l {
  margin-bottom: 8rem;
}

.u-margin-top-s {
  margin-top: 2rem;
}

.u-margin-top-m {
  margin-top: 4rem;
}

.u-margin-top-xl {
  margin-top: 10rem;
}

.u-uppercase {
  text-transform: uppercase;
}
